<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Watcher and Component</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="coolform">
  
    <input placeholder="Name" v-model="name"/>
    <input placeholder="Email" v-model="email"/>
    <div class="submission">{{submit}}</div>
  
 <div class="">
    <character v-for="item in list" v-bind:name="item.name" v-bind:cname="item.codename" v-bind:flipped="item.flipped"></character>
  </div>
  
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
